NODE_ENV="development"
PORT="3000"
API_PREFIX="/api"
#* To generate secrets you can use:
#! openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048
#! openssl rsa -pubout -in private_key.pem -out public_key.pem
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC0+6TCQNb8PVaU
0wOVAelagGBaxBlncoBoPD0X/Zy6bVsv57O+PA+H6stm9X1vTkMHg1X4K+6gKWJ1
/TRWJQSIzojbHpQta1c9jsrZbQRVE6/wMWwWZZqBry/pxyYyQzuqKPx85MRuq/Ba
s06Bmt0yK8hFY2pilVLZV1Tm9hX8kPgyM27eIXCMrxw1yl7idEWmT3xs/tMuRej6
uQ115a8CtmC3nrRZ/+AkVRyHHGTIhkAZP3nuAiin7ErplLu+Qc/uBpCw1iFvwgSE
yulrG0F1l9PIVc6jhHV/14JwTnxx+NPFXn0M0hu+KL7CbvrsA16AoS5b2I21tU2n
mZm3Oes5AgMBAAECggEAIaKF2Xsq6ThuE50O1J3FFEZ5Ac1hikXvos+VLBT8UHJb
6NCHKWLooQIsGJ+llu7EysvoCYYCpF3kmFh9Jkhdah52NUDe2X0SOtTDkrptvHD6
+Oj6dUQfPZxFC42xJdS0bTiOShjK/+Vw9y5NOA2Dr9wOrYSfJCCrw8w08XKJHgWz
wzMbIzqkRrNJFNEFmrLYTFGefOWlzQg/LjEFQwsSBopDwx0jgy0t5IFGgCdBsZa0
L7EzZ6CuUQlB3fm+tUD6m8zOjpYMBdpDje6qoEv8M6acPwB5YgcdTKiu1naxRW5w
vOWF/EM00VZN+7hmyf21LDHI3VxhhVofxXYGc04QLQKBgQDBuMokfibxrcc5tn1W
6gZVyGv6X/sZXE6cF0rJsjHvbf8JRIv1WKtqGAiTdksKzaMq5zENrdEDqyBx4ooq
YxA38sKzq3XKZaDuM1b3DN4d2ttoNtmV6zUPLv0FTnrjG2le+kWYB1Cz0Su5txID
1CjhpggoI54o9D+rmzlwNoRALQKBgQDvKnPsjpzXopjhfdJ6rfI7kmm8df0TGQNF
aulls+ZWo3W10zly8sqm5CJkqcTqwN92OsawoKTfnIOmubDcvTRMJWthkjVkRH8w
XdFR91yJFYkG4dGMbmtxJSaxALC1ZoT8RtfobP3D9EzbYp0DfF/eHSCftZp/dG3O
Z/Ud5hzyvQKBgQC4tlMAMs09Wf6BeBDRA7ngp4bVqBkLmGlYChmEcgWND6vDEXoG
CXMAaUQcHwn0lhkDuoeaTGbkgZIhJOmq+uQnBLFDkbRxtS+akJdWXw2XF+xm1Q3p
Fel0vdAB9E/WJnf1WNts12TK4CI6JWXnAq+sYJyccUHIOQRQw2QkK8c0TQKBgQCt
miApXt+EOrdEPoOQn0DMcxujO/XmbeqM8ezW8P3Kd75SrC7wPEJTYBeDACQ6zqOl
+0YMIZ9r3P1HAVTa9c/HUgYe/fUZggrcvczZ9XbK3sHnJ/VmPSRqLbBnHPwnwHHZ
eUbxpGOTYHqFaJBWXmpsHLJ4m2a5C3dFMvqeqFDs9QKBgDsYven4KywgInAkQheZ
Px5UwlRk1wXQGnDGK7F16poNZ6HgisiEhYbAwkyS0KfSxBDvIZuD/WBkEjMoSScd
yUKTHuBFxKXBrgzfrD9XeLj1cZTtVfCMiUs6CEthUyZKsnnsLBxpAecNGipMLSLI
fopTEwXDq6MPA4p/3oYmkNvy
-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtPukwkDW/D1WlNMDlQHp
WoBgWsQZZ3KAaDw9F/2cum1bL+ezvjwPh+rLZvV9b05DB4NV+CvuoClidf00ViUE
iM6I2x6ULWtXPY7K2W0EVROv8DFsFmWaga8v6ccmMkM7qij8fOTEbqvwWrNOgZrd
MivIRWNqYpVS2VdU5vYV/JD4MjNu3iFwjK8cNcpe4nRFpk98bP7TLkXo+rkNdeWv
ArZgt560Wf/gJFUchxxkyIZAGT957gIop+xK6ZS7vkHP7gaQsNYhb8IEhMrpaxtB
dZfTyFXOo4R1f9eCcE58cfjTxV59DNIbvii+wm767ANegKEuW9iNtbVNp5mZtznr
OQIDAQAB
-----END PUBLIC KEY-----"
JWT_ACCESS_EXPIRES_IN="3m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_ACCESS_EXPIRATION_SECONDS="180" # 3 minutes
JWT_REFRESH_EXPIRATION_SECONDS="604800" # 7 days
JWT_ISSUER="http://localhost:3000"
JWT_AUDIENCE="http://localhost:3000"
ACCESS_TOKEN_PATH="/"
REFRESH_TOKEN_PATH="/api/v1/auth/refresh"

# For Argon2
ARGON2_MAX_PARALLELISM="4"
ARGON2_MAX_MEMORY_COST="65536" # 64 MB
ARGON2_MAX_TIME_COST="3"

# For Input Validation
FIRST_NAME_MIN_LENGTH="2"
FIRST_NAME_MAX_LENGTH="50"
LAST_NAME_MIN_LENGTH="2"
LAST_NAME_MAX_LENGTH="50"
USERNAME_MIN_LENGTH="2"
USERNAME_MAX_LENGTH="20"
PASSWORD_MIN_LENGTH="8"
PASSWORD_MAX_LENGTH="72"
EMAIL_MAX_LENGTH="254"

RECOVERY_CODE_LENGTH="8"
RECOVERY_CODE_MAX_COUNT="10"
VERIFICATION_CODE_LENGTH="6"
MAX_VERIFICATION_ATTEMPTS="5"

VERIFICATION_CODE_EXPIRATION_MINUTES="15"
VERIFICATION_ATTEMPT_RESET_WINDOW_MINUTES="60" # 1 hour
VERIFICATION_CODE_RESEND_LOCK_MINUTES="1440" # 24 hours
VERIFICATION_RESEND_LIMIT="5"
VERIFICATION_RESEND_COOLDOWN_1_MINUTES="1"
VERIFICATION_RESEND_COOLDOWN_2_MINUTES="5"
VERIFICATION_RESEND_COOLDOWN_3_MINUTES="15"
VERIFICATION_RESEND_COOLDOWN_4_MINUTES="60" # 1 hour
EMAIL_LOCK_DURATION_MINUTES="1440" # 24 hours

# Rate Limiting
MAX_SESSIONS_PER_USER="5"

# Cache variables

# Postgres Database variables
POSTGRES_USER="FFZtGqbUvSc"
POSTGRES_PASSWORD="I2voZWXLNJJnPtTIxA3GsFgKOKACqBlwb2lxrxUAgI"
POSTGRES_DB="matcha-auth"

MAX_DB_POOL_SIZE="20"
IDLE_TIMEOUT_MILLIS="60000"
CONNECTION_TIMEOUT_MILLIS="2000"

DATABASE_URL="postgresql://FFZtGqbUvSc:I2voZWXLNJJnPtTIxA3GsFgKOKACqBlwb2lxrxUAgI@localhost:5432/matcha-auth"

# Redis variables
REDIS_HOST="localhost"
REDIS_PORT="6380"
REDIS_PASSWORD="cav3nghFL8hRB309Jg7Zxqox9r0GOsQc4fkiZU2u76w"
REDIS_CONNECTION_TIMEOUT_MILLIS="10000"
