NODE_ENV=development
PORT=3000
API_PREFIX=/api
JWT_SECRET=replace_with_a_long_random_secret_at_least_32_chars
JWT_EXPIRES_IN=15m
BCRYPT_SALT_ROUNDS=12

# Postgres Database variables
POSTGRES_USER="xxxxxxxx"
POSTGRES_PASSWORD="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
POSTGRES_DB="matcha-auth"
DATABASE_URL="postgresql://xxxxxxxx:I2vo%xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@localhost:5432/matcha-auth"
